:root {
    --white: #FFFFFF;
    --wine: #8E2424;
    --wine05: #8e24241c;
    --wineLight: #e87676;
    --gray: #667085;
    --grayLight: #959fb6;
    --grayLighter: #EAECF0;
    --grayDark: #101828;

}

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.button {
    background-color: var(--wine);
    border-style: none;
    font-size: 0.9rem;
    color: var(--white);
    padding: 0 20px;
    height: 40px;
    border-radius: 5px;
    width: fit-content;
    transition: background-color 200ms;
    cursor: pointer;
}

    .button:hover {
        background-color: var(--wineLight);
    }

.input {
    background-color: var(--white);
    border: solid 1px var(--grayLight);
    font-size: 0.9rem;
    color: var(--gray);
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    width: 360px;
}

.input::placeholder {
    color: var(--grayLight);
}

.label {
    position: absolute;
    visibility: hidden;
}

.h1 {
    color: var(--grayDark);
    font-size: 2.5rem;
    font-weight: 600;
}

.h2 {
    font-weight: 600;
    color: var(--wine);
    font-size: 1rem;
}

.p {
    color: var(--gray);
    font-size: 1.2rem;
    font-weight: 400;
}

/* ----------ACIMA SÓ OS PADRÕES-------------- */

.logo {
    width: 120px;
}

.nav {
    padding: 15px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    column-gap: 15px;
}

    .nav__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 30px;
        margin-left: 3vw;
    }

    .nav__item {
        color: var(--gray);
        font-size: 0.9rem;
        transition: color 200ms;
    }

    .nav__item:hover {
        color: var(--grayLight);
    }

    .login {
        display:flex;
        align-items: center;
        column-gap: 15px;
        margin-left: auto;
    }

.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    row-gap: 10px;
    min-height: 300px;
    padding: 6rem 1rem;
    max-width: 75%;
    text-align: center;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 0 2rem;
    width: 90%;
    margin: 20px auto;
    
}

    .numbers__article {
        display: flex;
        flex-direction: column;
    }

    .numbers__number {
        color: var(--wine);
        font-weight: 600;
        font-size: 4rem;
    }

    .numbers__sub {
        color: var(--grayDark);
        font-weight: 500;
        font-size: 1.2rem;
    }

    .numbers__info {
        color: var(--gray);
        font-size: 1rem;
        margin-top: 10px;
    }

.jobBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

    .jobBanner__destaque {
        color: var(--wine);
        font-size: 0.9rem;
        font-weight: 400;
        background-color: var(--wine05);
        padding: 7px 15px;
        border-radius: 15px;
    }

    .jobBanner__banner {
        object-fit: cover;
        width: 90%;
        height: 400px;
        margin: 70px 0;
    }

.jobs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
    .jobs__section {
        font-weight: 500;
        color: var(--grayDark);
        font-size: 1.5rem;
        margin: 30px 0 15px;
    }

    .job {
        border: 1px solid var(--grayLighter);
        border-radius: 10px;
        padding: 25px;
        margin: 20px 0;
    }

        .job__title {
            color: var(--grayDark);
            font-weight: 500;
            font-size: 1.1rem;
        }

        .job__info {
            color: var(--gray);
            margin-top: 40px;
        }

        .job__info span {
            margin-right: 15px;
        }

.colab__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 150px auto;
    text-align: center;
}

    .colab__container h1 {
        font: optional;
        font-size: 2rem;
    }

    .colab {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px
    }
        .colab__thumb {
            border-radius: 26px;
            width: 55px;
            margin-bottom: 10px;
        }

        .colab__name {
            font-weight: 500;
            font-size: 1.1rem;
            color: var(--grayDark);
        }

        .colab__office {
            font-weight: 400;
            font-size: 0.9rem;
            color: var(--gray);
        }

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 100px auto;
    text-align: center;
    row-gap: 30px;
}
    
    .footer__note {
        color: var(--grayLight);
        font-size: 0.8rem;
    }